<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    * {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    .container {
      margin: 0 2rem 0 2rem;
    }
  </style>
  <title>Document for Practice</title>
</head>
<body>
  <div class="container">
    {% include 'nav.html' %}
    {% block body%}
    {% endblock %}
  </div>
</body>
</html>